[Unit]
Description=Squeezebox
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=33
StartLimitBurst=5

[Service]
ExecStart=/home/pi/sb/sb.py
WorkingDirectory=/home/pi/sb
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=5
User=pi

[Install]
WantedBy=multi-user.target

